*{
    padding: 0;
    margin: 0;

}

html,body{
    background-color:rosybrown;
    font-family: Arial, Helvetica, sans-serif;
}

#footer{

    background-color: seagreen;
    padding: 50px;
}

#header{
    background-color: sienna;
    padding: 10px;
}
#header ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}
#header ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;

}

#main{
    padding: 200px 0;
    width: 500px;
    margin:0 auto;
}