.avatar {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
     height: 140px;
    width: 140px;
    background-color: black;
  }
   
  
  
  /* Optional */
  body {
     align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center; 
    background-color:yellowgreen;
  }
    .card{
      background-color: rgb(114, 103, 103);
      width: 30%;
      position: relative;
      left: 380px;
      
    }
    .banner-left-side{
   
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      -ms-background-size: cover;
      min-height:800px;
    }