
html,
body {
padding: 0;
margin: 0;
letter-spacing: 1px;
font-family: 'Roboto', sans-serif;
background:url(../image/b1.jpg) no-repeat center fixed;
}

.contenedor{
    border-style: solid;
    width: 500px;
    margin: auto;
    text-align:center;
}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

footer{

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black  ;
    color: white;
    text-align: center;
}